/*Bootstrap*/
/* xs - ���������� (�� 576px) */
@media (max-width: 575px) { /* CSS ��� ������ �� 575px (������������) */}

/* sm-���������� (������ ��� ����� 576px) */
@media (min-width: 576px) {/* CSS ���: 576px <= ������ <= 767px */}

/* md-���������� (������ ��� ����� 768px) */
@media (min-width: 768px) {/* CSS ���: 768px <= ������ <= 991px */}

/* lg-���������� (������ ��� ����� 992px) */
@media (min-width: 992px) {/* CSS ���: 992px <= ������ <= 1119px */}

/* xl-���������� (������ ��� ����� 1200px) */
@media (min-width: 1200px) {/* CSS ���: ������ >= 1200px */}
@media (min-width: 992px) and (max-width: 1200px){
    .rewards_h2{
        padding-right: 20px;
    }
    .right-arrow{
        margin-left: 20px;
    }
    #first_button{
        width: 93%;
    }
    #second_button{
        width: 90%;
        padding-left: 47px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .left-arrow{
        margin-left: -50px;
    }
    .rewards_h2{
        padding-right: 130px;
    }
    .rewards{
        margin-left: 55px;
        width: 150%;
    }
    .right-arrow{
        margin-left: 35px;
        width: 150%;
    }
    #first_button{
        width: 93%;
    }
    #second_button{
        padding-right: 50px;
        width: 85%;
    }
}